html, body {
	font-size: 16px;
  	padding: 0;
  	margin: 0;
}

.sharpe-ipg-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: stretch;
	align-content: stretch;
	max-width: 100vw;
	max-height: 100vh;
  	background-color: #000;
}

.sharpe-ipg-grid-container {
	flex: 0 1 auto;
	flex-basis: 70%;
	top: 0;
	left: 0;
}

.sharpe-ipg-text-carousel {
	flex: 0 1 auto;
	flex-basis: 30%;
	color: white;
	padding: 2em;
}

/* Photo Grid */
.sharpe-ipg-grid {  
	display: grid;
  	grid-template-columns: 1fr 1fr;
  	grid-template-rows: 1fr 1fr;
  	grid-auto-flow: row;
  	grid-template-areas:
    "sharpe-ipg-grid__item1 sharpe-ipg-grid__item2"
    "sharpe-ipg-grid__item3 sharpe-ipg-grid__item4";
	min-height: 600px;
	max-height: 100%;
	width: 100%;
}

.sharpe-ipg-grid__item1 { 
	grid-area: sharpe-ipg-grid__item1;
	background-image: url(/src/assets/imgs/blob-058de17.png);
	background-position: 25% 20% !important;
}

.sharpe-ipg-grid__item2 { 
	grid-area: sharpe-ipg-grid__item2;
	background-image: url(/src/assets/imgs/blob-a6eb26d.png);
}

.sharpe-ipg-grid__item3 { 
	grid-area: sharpe-ipg-grid__item3;
	background-image: url(/src/assets/imgs/IMG_0148.jpg);
}

.sharpe-ipg-grid__item4 { 
	grid-area: sharpe-ipg-grid__item4;
	background-image: url(/src/assets/imgs/IMG_1219.jpg)
}

.sharpe-ipg-grid div {
	background-size: cover;
	background-position: center;
}

/* Overlay */
.sharpe-ipg-overlay {
	z-index: 1;
	grid-row: 1 / 3;
	grid-column: 1/ 3;
	opacity: 0.9;
}

.sharpe-ipg-overlay img {
	min-height: 600px;
	max-height: 100%;
	width: -webkit-fill-available;
	object-fit: cover;
}


/* Text Carousel */
.sharpe-ipg-text-carousel {
	font-family: 'EB Garamond', serif;
	min-height: 600px;
	max-height: 100%;
}

.sharpe-ipg-image-text__body {
	font-size: clamp(1rem, 2.5rem, 3rem);
}

@media screen and (max-width: 800px) {
	.sharpe-ipg-image-text__body {
		font-size: 1.5rem;
	}
}

.sharpe-ipg-image-text__date, 
.sharpe-ipg-image-text__header {
	font-size: clamp(0.5rem, 1.2rem, 2rem);
}

.sharpe-ipg-text-carousel__nav {
	padding-top: 2em;
}

.dot {
	cursor: pointer;
	height: 14px;
	width: 14px;
	margin: 0 8px;
	background-color: #efefef;
	opacity: 0.9;
	border-radius: 50%;
	display: inline-block;
	outline-offset: 3px;
	outline: 3px solid transparent;
}

.active-dot, .dot:hover {
 	background-color: #FFF;
	outline-color: #FFF;
}

/* Active Image Transition */
.active-image {
	animation: activeImage 1.5s forwards;
	z-index: 2;
}


@keyframes activeImage {
	0% 	{ opacity: 0; }
	100% { opacity: 1;}
}
